@charset "utf-8";

body {
    background-color: #f8f5e3;
}
p button{
    background-color: #D3DEF1;
    width: 8em;
    padding: 0.6em;
    border-radius: 8px;
    transition: .8s;
    position: relative;
    top: 15px;
}
p button:hover{
    background-color: #F2D5E0;
}
/* menu.php ここから*/
nav button{
    font-size: 20px;
    background-color: #AFDFE4;
    border-width: medium;
    padding: 6px 12px;
    display: inline-block;
    transition: .5s;
}
nav button:hover{
    border-radius: 12px;
}
/* menu.php  ここまで　*/

/* index.php ここから */
#index {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
}
/* index.php ここまで */

/* register-input.php　ここから */
p.reg_1_title p.reg_2_kana p.reg_3_writer p.reg_4_impression p.reg_5_button p.reg_6_home{
    text-align: center;
    margin-bottom: 20px;
}
form.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    border: 1px solid #000;
    border-width: medium;
    margin: 0 auto;
    padding: 45px 145px;
    border-radius: 10px;
    background-color: #f1f1f1;
    position: relative;
    top: 35px;
}
p.reg_5_button button{
    width: 5em;
    padding: 0.5em;
    border-radius: 6px;
    background-color: #f8f5e3;
    text-align: center;
    position: relative;
    top: 15px;
}
p.reg_5_button button:hover {
    background-color: #cae853;
}
p.reg_6_home{
    text-align: center;
    position: relative;
    top: 15px;
}
input[required], textarea[required] {
    background-color: #f0908d;
}
input[required] {
    width: 250px;
}
textarea {
    width: 350px;
    height: 150px;
    border-width: medium;
    border-color: #000;
    border-radius: 6px;
}    
/* register-input.php　ここまで */

/* register-output.php　ここから */
#register h2{
    text-align: center;
}
p.register_button{
    text-align: center;
}
/* register-output.php　ここまで */

/* search.php　ここから */
#search {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

form.si_form button{
    text-align: center;
}
h3 {
    text-align: center;
}
p.search_button{
    float: right;
}
/* search.php　ここまで */

/* list.php　ここから */
#list {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
hr{
    width: 960px;
}
p.list_home{
    float: right;
}
/* list.php　ここまで */

/* detail.php　ここから */
#detail {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
p.writer{
    text-align: center;
}
form.det p.detail_button{
    text-align: center;
}
form p.detail_button button{
    font-size: 16px;
    background-color: #f8f5e3;
    padding: 9px 15px;
    border-radius: 6px;
    display: inline-block;
    margin: 0 auto;
    transition: .3s;
}
form p.detail_button button:hover{
    transform: scale(1.1);
    background-color: #cae853;
}
div.det{
    float: right;
}

/* detail.php　ここまで */

/* delete.php　ここから */
#delete {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
#delete h2{
    text-align: center;
}
p.delete{
    float: right;
}
/* delete.php　ここまで */

/* contents.php ここから */
#contents {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}
#contents button{
    color: #333;
    font-size: 16px;
    font-weight: bold;
    background: #fff;
    padding: 18px 30px;
    border: 3px solid #333;
    box-shadow: 0 5px 0 #333;
    border-radius: 6px;
    display: inline-block;
    transition: .3s;
}
#contents button:hover{
    background-color: #cae853;
    transform: translateY(5px);
    box-shadow: 0 0 0 #333;
}
div.content{
    display: flex;
    justify-content: center;
}
div.colim div.row{
    margin: 10px;
}
div.coulm{
    margin-right: 90px;
}
input[type="button"] {
    background-color: #D3DEF1;
    float: right;
    margin-right: 0;
    width: 8em;
    padding: 0.6em;
    border-radius: 8px;
    transition: .8s;
    position: relative;
    top: 65px;
}
input[type="button"]:hover{
    background-color: #F2D5E0;
}
/* countents.php　ここまで */
